      body{
        background-color:ghostwhite;
      }
      table, th, td {
        border: 1px dotted black;
        text-align: center;
        background-color: aliceblue;
      }
      table{
        width: 100%;
      }
      th , .rank{
        font-size: 20px;
        color:blueviolet;
      }
      th, td{
        height: 50px;
        padding: 2px;
      }
      caption
      {
        text-align: center;
        color: palevioletred ;
        font-size: 50px;
        padding: 6px;
      }